In [1]:
# Creating one varialbe containing string, list, float, tuple

In [3]:
string = "Thank you PW Skill for providing such a great course"
list = [23,42,55.6,"PW Skill",True]
float = 23.5
tuple = (23,10,60)

In [4]:
string

'Thank you PW Skill for providing such a great course'

In [5]:
list

[23, 42, 55.6, 'PW Skill', True]

In [6]:
float

23.5

In [7]:
tuple

(23, 10, 60)

In [8]:
#Showing data types of below variables
var1 = ''
var2 = '[DS,ML,Python]'
var3 = ['DS','ML','Python']
var4 = 1

In [10]:
type(var1)

str

In [11]:
type(var2)

str

In [12]:
type(var3)

list

In [13]:
type(var4)

int

In [14]:
#Explaining Arithmatic operators using some example
#Divide-
4/2

2.0

In [15]:
#Remainder-
3%2

1

In [16]:
#Quotient-
11//3

3

In [17]:
#Power-
2**4

16

In [18]:
#Creating a list of length 10 and using for loop to print the element & its data type
list2 = [1,4,"DS",45.6,True,10,11,"PW",33,10]

In [19]:
for i in list2:
    print(i, type(i))

1 <class 'int'>
4 <class 'int'>
DS <class 'str'>
45.6 <class 'float'>
True <class 'bool'>
10 <class 'int'>
11 <class 'int'>
PW <class 'str'>
33 <class 'int'>
10 <class 'int'>

In [27]:
#Using a while loop, verifing the number of A is purely divisible by number B and if so then how many times it can be divisible
A = int(input('Please enter the value which should be greater than 0:'))
B = int(input('Please enter the value which should be lesser than the 1st one:'))

i = 0

while A%B==0:
    A = A/B
    i = i+1

if i>0:
    print("It is divisible by", i,"times")
else:
    print("Number of A is not purely divisible by B")

Please enter the value which should be greater than 0: 50
Please enter the value which should be lesser than the 1st one: 10

It is divisible by 1 times

In [2]:
#Creating a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

list2 = []

for i in range(1,26):
    list2.append(i)

print(list2)

for a in list2:
    if a%3==0:
        print("The value divisible by 3 is:",a)
        
    else:
        print("The value which is not divisible by 3 is:",a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
The value which is not divisible by 3 is: 1
The value which is not divisible by 3 is: 2
The value divisible by 3 is: 3
The value which is not divisible by 3 is: 4
The value which is not divisible by 3 is: 5
The value divisible by 3 is: 6
The value which is not divisible by 3 is: 7
The value which is not divisible by 3 is: 8
The value divisible by 3 is: 9
The value which is not divisible by 3 is: 10
The value which is not divisible by 3 is: 11
The value divisible by 3 is: 12
The value which is not divisible by 3 is: 13
The value which is not divisible by 3 is: 14
The value divisible by 3 is: 15
The value which is not divisible by 3 is: 16
The value which is not divisible by 3 is: 17
The value divisible by 3 is: 18
The value which is not divisible by 3 is: 19
The value which is not divisible by 3 is: 20
The value divisible by 3 is: 21
The value which is not divisible by 3 is: 22
The value which is not divisible by 3 is: 23
The value divisible by 3 is: 24
The value which is not divisible by 3 is: 25

In [3]:
#Mutable data types are the data types which we can change like list:-
list3 = [23,42,"DS",55]
print(list3)
list3[3] = 25
print(list3)

[23, 42, 'DS', 55]
[23, 42, 'DS', 25]

In [4]:
#Immutable data types are the data types which we cannot change or update like variable that containing strings
v = "Varun"
print(v)
v[2] = "s"
print(v)

Varun

TypeError: 'str' object does not support item assignment